@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 20px solid darkblue;
}

h1{
    margin: 7px 0px 0px 0px;
    font-size: 2.3em;
}

h2{
    margin-bottom: 0px;
    letter-spacing: 1px;
}

#links{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#links > a{
    width: 250px;
    padding: 18px 0px;
    text-align: center;
    margin: 5px 0px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
    background-color: aliceblue;
}


footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 20px 10px 0px;
}



